.religiontheme {
    display: flex;
    gap: 1cm;
}
.themeleft{
    margin-left: 3cm;
    border-right: solid;
    padding-right: 2cm;
}
 h2 {
    font-size: 30px;
}
#religionparagraph {
    line-height: 0.7cm;
    margin-top: 1.5cm;
    
}
.religion{
    border-radius: 20px;
    width: 15cm;
    
}
.lossofagencytheme{
    display: flex;
    gap: 2cm;
    margin-top: 2cm;
    margin-left: 2.5cm;
}
.theme{
    margin-left: 0cm;
    border-left: solid;
    padding-left: 0.5cm;
}
 h2 {
    font-size: 30px;
}
#agencyparagraph {
    line-height: 0.7cm;
    margin-top: 1.5cm;
    
}
.lossofagency{
    border-radius: 20px;
    width: 15cm;
    
}

.oppression{
    display: flex;
    gap: 6cm;
}
.themeleftlast{
    margin-left: 3cm;
    border-right: solid;
    padding-right: 2cm;
}
 h2 {
    font-size: 30px;
}
#oppressionparagraph {
    line-height: 0.7cm;
    margin-top: 1.5cm;
    
}
.oppression{
    border-radius: 20px;
    width: 15cm;
    
}